version: '2'
services:
  #Service for nameserver
  namesrv:
    image: apache/rocketmq:5.3.4
    container_name: rmqnamesrv
    ports:
      - "9876:9876"
    volumes:
#      - ./data/namesrv/logs:/home/rocketmq/logs
      - namesrv_data:/home/rocketmq
    command: sh mqnamesrv

  #Service for broker
  broker:
    image: apache/rocketmq:5.3.4
    container_name: rmqbroker
    links:
      - namesrv
    ports:
      - "10909:10909"
      - "10911:10911"
      - "10912:10912"
    environment:
      - NAMESRV_ADDR=namesrv:9876
    volumes:
#      - ./data/broker/logs:/home/rocketmq/logs
#      - ./data/broker/store:/home/rocketmq/store
      - broker_data:/home/rocketmq
      - ./data/broker/conf/broker.conf:/opt/rocketmq-5.3.4/conf/broker.conf
    command: sh mqbroker -c /opt/rocketmq-5.3.4/conf/broker.conf

  #Service for another broker -- broker1
#  broker1:
#    image: apache/rocketmq:5.2.0
#    container_name: rmqbroker-b
#    links:
#      - namesrv
#    ports:
#      - "10929:10909"
#      - "10931:10911"
#      - "10932:10912"
#    environment:
#      - NAMESRV_ADDR=namesrv:9876
#    volumes:
#      - ./data1/broker/logs:/home/rocketmq/logs
#      - ./data1/broker/store:/home/rocketmq/store
#      - ./data1/broker/conf/broker.conf:/opt/rocketmq-5.2.0/conf/broker.conf
#    command: sh mqbroker -c /opt/rocketmq-5.2.0/conf/broker.conf

  #Service for proxy
  proxy:
    image: apache/rocketmq:5.3.4
    container_name: rmqproxy
    links:
      - namesrv
      - broker
#      - broker1
    depends_on:
      - broker
#      - broker1
    ports:
      - "18080:8080"
      - "18081:8081"
    restart: on-failure
    environment:
      - NAMESRV_ADDR=namesrv:9876
    volumes:
#      - ./proxy/logs:/home/rocketmq/logs
      - proxy_data:/home/rocketmq
      - ./proxy/conf/rmq-proxy.json:/opt/rocketmq-5.3.4/conf/rmq-proxy.json
    command: sh mqproxy -pc /opt/rocketmq-5.3.4/conf/rmq-proxy.json

  #Dashboard
  dashboard:
    image: apacherocketmq/rocketmq-dashboard:2.1.0
    ports:
      - "8082:8082"
    mem_limit: 2g  # 限制内存使用
    mem_reservation: 1g  # 保证容器至少使用
    environment:
      - "JAVA_OPTS=-Xms512m -Xmx512m -Xmn256m -Drocketmq.namesrv.addr=namesrv:9876"
    depends_on:
      - namesrv
      - broker

volumes:
  namesrv_data:
    driver: local
  broker_data:
    driver: local
  proxy_data:
    driver: local